@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}
#login{
  border: solid 3px rgba(25, 25, 233, 0.872);
  border-radius: 10px;
  margin: 25px;
  background-color: rgb(237, 232, 232);
}
form h2{
  margin: 10px;
  font-size: 30px;
  text-align: center;
}
.width-70 h3{
  width: 90%;
text-align: left;
} 
.noBorderI{
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 90%;
  align-content: center;
}
.width-70{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton{
  display: flex;
  justify-content: center;
}
.boton .button{
  width: 90%;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(25, 25, 233, 0.872);
  color: white;
}

/* DESKTOP */
@media (min-width: 769px) {
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #login{
    width: 50%;
  }
  form h2{
    margin: 10px;
    font-size: 50px;
    text-align: center;
  }
}